body{
    /*direction: rtl;*/
}
#loginForm.collapse.in {
    display: inline-block;
}


.jumbotron{
    /*
    background-image: url("logo.png");
    background-image: url("logo4.jpg");
    background-image: url("logo4.jpg");
    background-position:center center;
    */
    
    background-image: url(../images/mainpic.png);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.modal-width{
    width: 400px;
    /*background-color: black;*/
}

.logo{
    width: 170px;
    height: 50px;
}

.center-div{
    width: 50%;
    margin: 0 auto;
}

.mybtn{
    z-index: 999;
}

.btn{
    margin: 15px;
}
.tiny-font{
    font-size: small;
}


/*     sign up style       */
.help-block{
    font-size: small;
    color: #737373;
}

.myform{
   width: 80%;
    margin: auto;
}

.div-form{
    background-color: #f2f2f2;
    border-radius: 25px;
}
.head{
    border-radius: 30px;
    /*background: url("logo.png");*/
    font-size: 35px;
    color: white;
    height: 65px;
}
